<!-- used in expenses_sheet sidebar -->
  <%= form_with model: @newAsociation, url: expenses_sheet_asociations_path(@expensesSheet), method: :post, local: true do |f| %>
    <div class="field">
      Añadir colaborador por email
      <%= f.email_field :email, autocomplete: "email", style: "width:90%" %>
      <%= f.submit "Añadir", class: "btn btn-primary" %>
    </div>
  <% end %>