Hoja compratida por:
<ul>
<% @expensesSheet.asociations.each do |expense| %>
  <li><%= expense.user.email %></li>
<% end %>
</ul>
<% if current_user == @expensesSheet.owner %>
  <%= form_with model: @newAsociation, url: expenses_sheet_asociations_path(@expensesSheet), method: :post, local: true do |f| %>
    <div class="field">
      Añadir colaborador por email 
      <%= f.email_field :email, autocomplete: "email" %>
      <%= f.submit "Entrar", class: "btn btn-primary" %>
    </div>
  <% end %>
<% end %>