<h1><%= link_to "#{@expensesSheet.name}", @expensesSheet, 'data-turbolinks': false %><#fullcalendar</h1>

<div id='calendar'></div>

<script>
  document.addEventListener("turbolinks:before-cache", function() {
    $('#calendar').fullCalendar('destroy');
  })
  document.addEventListener("turbolinks:load", function() {
    $('#calendar').fullCalendar({
      firstDay: 1,
      events: <%= raw @expenses_calendar.to_json() %>
    });
  })
</script>