<div  style="float: left;">
  <%= link_to "Volver a hojaDeGasto", expenses_sheet_url(@expensesSheet), class: "btn btn-primary" %>
</div>
<h1>
  Calendario de 
  <%= link_to "#{@expensesSheet.name}", @expensesSheet, 'data-turbolinks': false %>
</h1>
<div id='calendar'></div>

<script>
  document.addEventListener("turbolinks:before-cache", function() {
    $('#calendar').fullCalendar('destroy');
  })
  document.addEventListener("turbolinks:load", function() {
    $('#calendar').fullCalendar({
      header: {
        left: 'month,listWeek',
        center: 'title',
        right: 'prevYear,prev,prevWeek,next,nextYear'
      },
      firstDay: 1,
      events: <%= raw @expenses_calendar.to_json() %>
    });
  })
</script>