<h1>ExpensesSheet#index</h1>
<p>Find me in app/views/expenses_sheet/index.html.erb</p>

<% @expensesSheets[0...-1].each do |sheet| %>
  <p>-
  <%= sheet.owner.email %>
  <%= link_to "link", expenses_sheet_path(sheet) %>
  </p>
<% end %>


<%= form_with model: @newExpensesSheet, url: expenses_sheet_index_path, method: :post, local: true do |f| %>
  <div class="card col-md-6">
    <%= f.submit "Entrar", class: "btn btn-primary" %>
  </div>
<% end %>